* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

img{
    width: 100%;
}

#app {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #F9F9F9;
}

/* Header Style Start */
.header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
}

.header-logo{
    margin-left: 35px;
}

.header-logo h2 {
    font-size: 28px;
    text-transform: uppercase;
    font-family: "Oswald", "sans-serif";
    font-style: normal;
    letter-spacing: 2px;
    color: #1a6db7;
}

.header-contact-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-right: 40px;
}

.header-contact-info-phone, .header-contact-info-location {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.header-contact-info-location p {
    font-size: 15px;
    font-family: "Poppins", "sans-serif";
    font-style: normal;
    font-weight: 600;
    color: #252525;
}

.header-contact-info-phone span {
    font-size: 15px;
    font-family: "Poppins", "sans-serif";
    font-style: normal;
    font-weight: 600;
    color: #252525 !important;
}

.header-contact-info-phone i, .header-contact-info-location i {
    font-size: 22px;
    color: #1a6db7;
}

/* Navbar Style Start */

.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #15364e;
}

.navbar-items{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: 35px;
}

.navbar-items li {
    list-style: none;
}

.navbar-items li a {
    font-size: 20px;
    font-family: "Oswald", "sans-serif";
    font-style: normal;
    font-weight: 500;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: .4s ease;
}

.navbar-items li a:hover {
    color: #ffd14b;;
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 7px;
    cursor: pointer;
}

.hamburger span {
    width: 35px;
    height: 3px;
    background-color: whitesmoke;
}

.social-media-information {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-right: 40px;
}

.social-media-information i {
    font-size: 24px;
    color: #f1f1f1;
    transition: .4s ease;
}

.social-media-information i:hover {
    color: #ffd14b;
}


/* Banner Style Start */

.banner {
    width: 100%;
    height: 100%;
    background-color: #f9f9f9;
    padding: 30px 0;
}

.banner-bg {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.banner-description h2{
    max-width: 800px;
    font-size: 32px;
    font-family: "Oswald", "sans-serif";
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #1a6db7;
    text-align: center;
}

.banner-description p {
    font-size: 22px;
    font-family: "Poppins", "sans-serif";
    font-style: normal;
    font-weight: 600;
    color: #0E2333;
    text-align: center;
    margin-top: 10px;
}

.banner-devis button {
    padding: 15px;
    margin-bottom: 10px;
    border: none;
    letter-spacing: 1px;
    background-color: #15364e;
    border-radius: 3px;
    cursor: pointer;
    transition: .4s ease;
}

.banner-devis button a{
    font-size: 16px;
    font-family: "Oswald", "sans-serif";
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: #f1f1f1;
    transition: .4s ease;
}

.banner-devis button:hover{
    background-color: #ffd14b;
}

.banner-devis button:hover a {
    color: #252525;
}

.banner-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.banner-content-box {
    width: 400px;
    height: 400px;
    overflow: hidden;
    background-color: #1a6db7;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15), 0 2px 2px rgba(0,0,0,0.15), 0 4px 4px rgba(0,0,0,0.15), 0 8px 8px rgba(0,0,0,0.15);
}

.banner-content-box-img{
    width: 100%;
    height: 280px;
}

.banner-content-box-img img{
    height: 100%;
}

.banner-content-box h2 {
    text-align: center;
    margin-top: 25px;
    font-size: 19px;
    font-family: "Poppins", "sans-serif";
    font-style: normal;
    color: #f1f1f1;
}

/* Devis Style Start */
.devis {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
    background-color: #0E2333;
}

.devis-description {
    width: 450px;
}


.devis-description h2 {
    color: #f1f1f1;
    font-size: 46px;
    font-family: "Oswald", "sans-serif";
    font-style: normal;
}

.devis-description p{
    font-size: 22px;
    font-family: "Poppins", "sans-serif";
    font-style: normal;
    font-weight: 500;
    color: #f1f1f1;
}

.devis-line span{
    display: block;
    width: 2px;
    height: 400px;
    background-color: #f1f1f1;
    margin-right: 80px;
}

.devis-content {
    width: 400px;
}

.devis-content #contactForm {
    display: flex;
    flex-direction: column;
}

#contactForm label {
    display: block;
    margin-bottom: 2px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", "sans-serif";
    color: #f1f1f1;
}

#contactForm input {
    width: 100%;
    border: none;
    border: 1px solid #f1f1f1;
    padding: 14px 10px;
    border-radius: 3px;
}

#contactForm input::placeholder{
    font-family: "Poppins", "sans-serif";
    font-size: 13px;
}

#contactForm textarea {
    padding: 8px;
}

#contactForm textarea::placeholder {
    font-family: "Poppins", "sans-serif";
    font-size: 13px;
}

#contactForm button {
    margin-top: 22px;
    padding: 12px 0;
    font-family: "Oswald", "sans-serif";
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: #f5b041;
    color: #0E2333;
    border: none;
    border: 2px solid #f5b041;
    border-radius: 3px;
    cursor: pointer;
    transition: .4s ease;
}

#contactForm button:hover {
    background-color: transparent;
    color: #f1f1f1;
}

/* Services Style Start */

#services {
    background-color: #f9f9f9;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 0;
}

.services-h2 {
    font-size: 38px;
    font-family: "Oswald", "sans-serif";
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 30px 0 50px 0;
    text-align: center;
    color: #252525;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.service-card {
    background: white;
    padding: 20px;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 8px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 1px rgba(255, 255, 255, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
}

.service-card:hover i {
    color: #f5b041;
    transition: .3s ease;
}

.service-card i {
    font-size: 55px;
    color: #1a6db7;
    margin-bottom: 10px;
}

.service-card-h2 {
    font-family: "Oswald", "sans-serif";
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin: 10px 0;
    color: #252525;
}


/* About-us Style Start */
#about-us {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 20px;
    background-color: #f9f9f9;
}

.about-content {
    max-width: 800px;
    padding: 20px;
}

.about-content h2 {
    font-size: 32px;
    font-family: "Oswald", "sans-serif";
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #252525;
    margin-bottom: 30px;
}

.about-content p {
    font-size: 16px;
    font-family: "Poppins", "sans-serif";
    font-style: normal;
    font-weight: 500;
    color: #252525;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

.about-content h3 {
    font-size: 24px;
    font-family: "Oswald", "sans-serif";
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #252525;
    margin-top: 25px;
    margin-bottom: 15px;
}

.about-content strong {
    color: #15364e;
}

.about-content ul {
    list-style: none;
    padding: 0;
}

.about-content li {
    font-size: 17px;
    font-family: "Poppins", "sans-serif";
    font-style: normal;
    font-weight: 600;
    color: #252525;
    display: flex;
    align-items: center;
}

.about-content li::before {
    content: "•";
    color: #15364e;
    font-size: 30px;
    margin-right: 10px;
}


.contact-text {
    margin-top: 20px;
    font-size: 16px;
    color: #333;
    background: #fff3e0;
    padding: 15px;
    border-left: 5px solid #f5b041;
}

/* Goggle Avis Style Start */

.reviews-container {
    width: 100%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.reviews-container h2 {
    font-size: 28px;
    font-family: "Oswald", "sans-serif";
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    color: #252525;
}

.avis-start {
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}
  
.full {
    color: #f5b041;
}
  
.half {
    background: linear-gradient(to right, #f5b041 50%, #FFFFFF 50%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.carousel {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.reviews {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding: 10px;
}
.review {
    min-width: 280px;
    max-width: 320px;
    background: #fff;
    padding: 25px 15px;
    border-radius: 10px;
    border: 1px solid lightgray;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    scroll-snap-align: start;
}

.avatar-google{
    display: flex;
    justify-content: space-between;
}

.avatar {
    width: 40px;
    height: 40px;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 10px;
}

.google-icon {
    width: 25px;
    height: 25px;
}

.review h3 {
    font-size: 18px;
    font-family: "Oswald", "sans-serif";
    font-style: normal;
    letter-spacing: 0.5px;
    color: #000000;
}

.date{
    font-size: 12px;
    font-family: "Poppins", "sans-serif";
    font-style: normal;
    color: #252525;
}

.stars {
    color: gold;
    font-size: 20px;
    letter-spacing: 3px;
}

.review-avis {
    font-size: 14px;
    font-family: "Poppins", "sans-serif";
    color: #252525;
    font-weight: 500;
    margin-top: 5px;
}

.prev, .next {
    font-size: 18px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
}
.prev { left: 0; }
.next { right: 0; }
.prev:hover, .next:hover {
    background: black;
}

/* Footer Style Start */
.footer {
    width: 100%;
    padding: 40px 0;
    margin-top: 50px;
    background-color: #0E2333;
}

.footer-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content-about{
    width: 380px;
}

.footer-content-contact{
    width: 280px;
}

.footer-content-links,
.footer-content-social {
    width: 150px;
}

.footer-content-about p {
    font-family: "Poppins", "sans-serif";
    font-size: 14px;
    color: #f1f1f1;
    letter-spacing: 0.3px;
}

.footer-content-contact p{
    font-family: "Poppins", "sans-serif";
    font-size: 14px;
    font-weight: 500;
    color: #f1f1f1;
}

.footer-contact-phone span {
    font-family: "Poppins", "sans-serif";
    font-size: 14px;
    font-weight: 500;
    color: #f1f1f1 !important;
}

.footer-content-about h3,
.footer-content-contact h3,
.footer-content-links h3,
.footer-content-social h3{
    font-size: 22px;
    font-family: "Oswald", "sans-serif";
    letter-spacing: 1px;
    margin-bottom: 20px;
    color: #fac564;
}

.footer-contact-adresse, .footer-contact-phone, .footer-contact-email {
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer-contact-phone i, .footer-contact-email i {
    color: #f5b041 ;
    font-size: 18px;
}

.footer-contact-adresse i {
    font-size: 24px;
    color: #f5b041 ;
}


.footer-contact-adresse-p {
    margin: 15px 0 15px 0;
    color: #f1f1f1;
}


.footer-content-links ul {
    list-style: none;
    padding: 0;
}

.footer-content-links li {
    list-style: none;
    margin-bottom: 2px;
}

.footer-content-links ul li a {
    font-family: "Poppins", "sans-serif";
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: whitesmoke;
    text-decoration: none;
    transition: .3s;
}

.footer-content-links ul li a:hover {
    color: #fac564;
}

.footer-content-social a {
    margin-right: 10px;
    font-size: 24px;
    color: #f1f1f1;
}

.footer-content-social a:hover {
    color: #fac564;
}

/* CSS Meda Style Start */
@media (max-width: 768px) {

    /* Header Media Style Start */
    .header {
        width: 100%;
        height: 100%;
        flex-direction: column;
        padding: 10px;
        gap: 5px;
    }
    
    .header-logo{
        margin: 0;
    }
    
    .header-logo h2 {
        font-size: 30px;
        letter-spacing: 1px;
    }
    
    .header-contact-info {
        flex-direction: column;
        gap: 5px;
        margin: 0;
    }
    
    .header-contact-info-phone, .header-contact-info-location {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }
    
    .header-contact-info-phone span, .header-contact-info-location p {
        font-size: 12px;
    }
    
    .header-contact-info-phone i, .header-contact-info-location i {
        font-size: 16px;
    }
    /* Navbar Media Style Start */

    .navbar {
        position: relative;
    }

    .navbar-items{
        width: 100%;
        position: absolute;
        flex-direction: column;
        left: -100%;
        top: 75px;
        z-index: 1000;
        text-align: center;
        background: #15364e;
        gap: 15px;
        padding: 20px 0;
        margin-left: 0;
        transition: 0.3s ease;
    }

    .hamburger {
        display: flex;
        margin-left: 20px;
    }
    
    .hamburger span {
        transition: .3s ease;
    }
    
    .hamburger.active .hamburger-span1{
        transform: translateY(11px) rotate(45deg);
    }
    .hamburger.active .hamburger-span2{
        opacity: 0;
    }
    .hamburger.active .hamburger-span3{
        transform: translateY(-9px) rotate(-45deg);
    }

    .navbar-items.active{
        left: 0;
    }

    .social-media-information {
        margin-right: 20px;
        gap: 18px;
    }

    .social-media-information i{
        font-size: 26px;
    }

    /* Banner Media Style Start */

    .banner {
        width: 100%;
        height: 100%;
    }

    .banner-bg{
        width: 100%;
        padding: 0;
    }
    
    .banner-description h2{
        max-width: 370px;
        font-size: 20px;
        letter-spacing: 1px;
    }

    .banner-description p {
        max-width: 370px;
        font-size: 16px;
        font-weight: 600;
    }
    
    .banner-devis button {
        padding: 12px;
        font-size: 18px;
    }
    
    .banner-content {
        flex-direction: column;
        gap: 20px;
    }
    
    .banner-content-box {
        width: 350px;
        height: 350px;
    }
    
    .banner-content-box-img{
        width: 100%;
        height: 240px;
    }
    
    .banner-content-box-img img{
        height: 100%;
    }
    
    .banner-content-box h2 {
        font-size: 17px;
    }

    /* Services Media Style Start */

    .services-h2 {
    font-size: 32px;
    font-weight: 600;
    }

    /* Devis Media Style Start */
    .devis {
        width: 100%;
        height: 100%;
        flex-direction: column;
        padding: 30px 0;
    }

    .devis-description {
        width: 350px;
    }

    .devis-description h2 {
        text-align: center;
        font-size: 26px;
    }

    .devis-description p {
        text-align: center;
        font-size: 16px;
    }

    .devis-line span{
        width: 350px;
        height: 2px;
        background-color: white;
        margin: 30px 0;
    }

    .devis-content {
        width: 350px;
    }

    .devis-content #contactForm {
        display: flex;
        flex-direction: column;
    }

    #contactForm label {
        font-size: 15px;
    }

    #contactForm input {
        width: 100%;
    }

    #contactForm button {
        margin-top: 15px;
        font-size: 17px;
    }

    /* About-us Style Start */
    #about-us {
        padding: 50px 10px;
    }

    .about-content {
        max-width: 800px;
        padding: 2px;
    }

    .about-content h2 {
        margin-bottom: 20px;
    }

    .about-content p {
        font-size: 15px;
    }

    .about-content h3 {
        font-size: 21px;
        margin-top: 25px;
        margin-bottom: 15px;
    }

    .about-content strong {
        color: #15364e;
    }
    
    .about-content ul {
        list-style: none;
        padding: 0;
    }
    
    .about-content li {
        font-size: 15px;
    }
    
    .about-content li::before {
        content: "•";
        color: #f5b041;
        font-size: 25px;
        margin-right: 10px;
    }
    
    
    .contact-text {
        margin-top: 20px;
        border-left: 5px solid #f5b041;
    }

    /* Avis Media Style Start */

    .prev, .next {
        display: none;
    }

    /* Footer Media Style Start  */
    .about-content{
        flex-direction: column;
    }

    .footer-content{
        flex-direction: column;
        gap: 20px;
    }

    .footer-content-about{
        width: 100%;
    }

    .footer-content-about h3,
    .footer-content-contact h3,
    .footer-content-links h3,
    .footer-content-social h3{
        font-size: 22px;
        margin-bottom: 15px;
    }

    .footer-content-contact p{
        color: #f9f9f9;
    }
    
}
